<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">姓名</th>
        <th scope="col">年齡</th>
        <th scope="col">員工編號</th>
    </tr>
    </thead>
    <tbody>
    {{#each sales}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.age}}</td>
            <td>{{this.id}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
